<div class="card" >
  <div class="card-inner">
    <div class="card-front">
      <div class="card-content">
        <h2>Aventurier</h2>
      </div>
    </div>
    <div class="card-back">
      <div class="card-top">
        <div class="card-image"></div>
      </div>
      <p>Vous avez l'âme d'un Aventurier ?
        Inspirez vous des célébres films d'aventure tel que <b>Indiana Jones</b> ou <b>Pirates des Caraïbes</b> !</p>
      <div class="card-link">
        <a [routerLink]="'/menu'" target="_blank">
          Voir le menu
        </a>
      </div>
    </div>
  </div>
