.menu {
  order: 1;
  display: flex;
  padding: 1em;
  margin-left: 2%;

  ul {
    display: flex;
    flex-direction: row;
    gap: 2.5em;
    font-weight: bolder;

    li {
      display: flex;
      list-style: none;
      cursor: pointer;
    }

    li:hover {
      transform: scale(1.2);
    }
  }

  img {
    display: flex;
    justify-content: left;
    width: 50px;
    height: 50px;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }
}
