.menu {
  display: flex;
  padding: 1em;
  width: 100vw;
  background-color: sandybrown;
}

ul {
  display: flex;
  flex-direction: row;
  padding: 0;

  li {
    list-style: none;
    cursor: pointer;
    margin: 1em;
  }

  li:hover {
    transform: scale(1.2);
  }
}

.logo {
  width: 4%;
  display: flex;
  justify-content: left;

&:hover {
  transform: scale(1.2);
  }
}

