.menu {
  display: flex;
  justify-content: left;
  padding: 1em;
  width: 100vw;
  background-color: sandybrown;
}

.nav {
  display: flex;
  flex-direction: row;

}

.logo {
  width: 4%;
  display: flex;
  justify-content: left;

&:hover {
  transform: scale(1.2);
  }
}

