<div class="menu-image">
  <div><h2>SPARROW</h2></div>
</div>

<div class="menu">

  <div>
    <h4 class="tm-text-primary text-center">Entrées :</h4>
    <ul>
      <li>Croquettes de crabe aux épices</li>
      <li>Rouleaux de printemps aux crevettes et aux légumes</li>
      <li>Soupe de poisson aux épices et aux légumes</li>
    </ul>
    <h4 class="tm-text-primary text-center">Plats :</h4>
    <ul>
      <li>Poulet grillé aux épices exotiques et aux noix de cajou</li>
      <li>Riz aux légumes et aux fruits de mer</li>
      <li>Filet de poisson grillé aux herbes aromatiques et aux légumes</li>
    </ul>
    <h4 class="tm-text-primary text-center">Desserts :</h4>
    <ul>
      <li>Gâteau aux noix de coco et à la crème de coco</li>
      <li>Sorbet aux agrumes et aux épices</li>
      <li>Crème brûlée aux fruits exotiques</li>
    </ul>
  </div>
</div>



