.container {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  font-weight: bolder;

  img {
    display: flex;
    justify-content: left;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}


