.container {
  display: flex;
  height: 100%;
  width: 100%;

  .main {
    flex: 1;
  }
}

.reservation {
  display: flex;
  margin-left: 12%;
  margin-top: 26%;
}

.circle {
  background-color: sandybrown;
  width: 100%;
}
