.submit {
  display: flex;
  background-color: #FF9A3D;
  color: white;
  width: 100%;
  padding: 0.9em;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.3px;
}
