<h1>Liste des réservations : </h1>
<div class="reza">
  <ul>
    <li *ngFor="let reservation of listeReservations" class="res__card">
      <span>
        Nombre de personne:
        {{reservation.nbrPersonne}}
      </span>
      <span>
        Date:
        {{reservation.horaire}}
      </span>
      <button (click)=getReservationById(reservation.id)> Voir détails</button>
    </li>
  </ul>
</div>

<form [formGroup]="rezaForm" (ngSubmit)="onSubmit()">
  <h3>Entrez votre E-Mail pour retrouver votre réservation : </h3>
  <!-- Champ Email -->
  <app-input label="Adresse E-Mail" formControlName="email" field="email" placeholder="Votre adresse E-Mail"
    type="email">
  </app-input>

  <ng-container *ngIf="email.touched && email.errors">
    <small *ngIf="email.errors!=['required']">Champs requis</small>
  </ng-container>
  <app-button type="submit" className="submit" value="ENVOYER"></app-button>
</form>
