form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

small {
  color: red;
}

