form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 0.8em;
  font-weight: bold;
  font-size: medium;
  margin-top: 5%;

  h3 {
    display: flex;
    justify-content: center;
    font-size: larger;
  }

  small {
    color: red;
  }
}

b {
  font-size: small;
}

.date {
  color: black;
  font-style: italic;
  font-size: x-small;
}

hr {
  width: 50%;
  color: #FF9A3D;
}

.comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
