form {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  font-weight: bold;
  font-size: medium;
  padding: 20px 50px;
  margin: 0 auto;
  h3 {
    display: flex;
    justify-content: center;
    font-size: larger;
  }

  small {
    color: red;
  }
}

b {
  font-size: small;
}

.date {
  color: black;
  font-style: italic;
  font-size: x-small;
}

hr {
  width: 50%;
  color: #FF9A3D;
}

.comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_div{
  display: flex;
  flex-direction: column;
}