.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
  margin-left: -47em;
  font-weight: bolder;

  h1 {
    font-size: 3em;
  b {
    color: #FF9A3D;
    }
  }
}


