.home {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  margin-left: 5em;
  font-weight: bolder;

  h1 {
    font-size: 3em;
  b {
    color: #FF9A3D;
    }
  }
}

.imgHome {
  position: fixed;
  clip-path: ellipse(35% 40%);
  transform: translate(815px, -15px);
  width: 35%;
  z-index: 2;
}

.resabutton {
  display: flex;
  justify-content: center;
}

.reservation {
 margin-left: -1em;
 margin-top: 5%;
}
