.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  font-weight: bolder;
  position: fixed;
  bottom: 0;
  transform: translate(350px, 0px);
  gap: 1em;

  img {
    display: flex;
    justify-content: left;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}
